input[type="text"],
input[type="number"] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  align-self: center;
}

form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  margin-top: 10rem;
}

.add__button {
  width: 25%;
  align-self: center;
}
