.App {
  box-sizing: border-box;
}
header {
  background-color: #ffffff;
  border-radius: 2px;
  height: 10vh;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 90vh;
}
.aside {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  background-color: #eceaea;
  padding: 0 50px;
}
.filter {
}
.sort {
  align-self: flex-end;
}
.reset {
}
main {
  border-radius: 2px 2px 4px 4px;
  background-color: #e4e3e3;
  padding: 10px 50px;
  flex-basis: 70%;
}
.list {
  list-style-type: none;
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
}
.button {
  background-color: white;
  color: rgb(199, 111, 240);
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  border: rgb(199, 111, 240) 1px solid;
  border-radius: 4%;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  color: white;
  background-color: rgb(199, 111, 240);
}

.header__heading {
  text-align: center;
  color: rgb(199, 111, 240);
  font-size: 8vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding-bottom: 12px;
}
.custom__sort {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
}
.custom__sort__label {
  color: rgb(199, 111, 240);
  font-size: 16px;
  display: inline;
  margin-right: 5px;
}
select {
  margin: 0;
  padding: 0.75em 1.5em;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  border: rgb(199, 111, 240) 1px solid;
  border-radius: 4px;
  background-color: rgb(199, 111, 240);
  color: white;
}

.reset__button {
}
.filter__button {
}
.main_content {
}
.list__item {
  background-color: white;
  padding: 0px 2rem;
  height: 18vh;
}
.list__item__heading {
  font-size: 3rem;
  color: black;
}
.list__item__detail {
  font-size: 2rem;
  color: black;
}

.navigation {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.navigation__item {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  margin-right: 2px;
  text-align: center;
}

.navigation__item__link {
  text-decoration: none;
  font-size: 20px;
}
